 .button1 {
   background-color : rgb(202, 41, 41);
   color: white;
   border: none;
   height: 40px;
   width: 100PX;
   cursor: pointer;
   margin-left: 8px;
  }
  .button1:hover{
   opacity: 0.4;
 }
 .button1:active{
   opacity: 0.7;
 }

  .button2 {
   background-color : rgb(175, 103, 186);
   color: rgb(74, 97, 187);
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   border-color: rgb(0, 41, 200);
   height: 40px;
   width: 80PX;
   cursor: pointer;
   margin: 8px;
   transition: background-color  rgb(175, 103, 186) 2s;
  }
  .button2:hover{
   background-color: rgb(81, 10, 45);
   opacity: 0,4;
 }
 .button2:active{
   opacity: 0.7;
 }
  .button3 {
   background-color : rgb(30, 169, 99);
   color: white;
   border-color: rgb(14, 77, 14);
   border-radius: 20px;
   height: 40px;
   width: 80PX;
   cursor: pointer;
   margin: 8px;
   transition: box-shadow 3s;
  }
 .button3:active{
   opacity: 0.7;
   }
  .button3:hover{
   box-shadow : 05PX 05PX 05PX rgba(0, 0, 0, 0.3) ;
  }
  .text1 {
    font-family: tahoma;
    font-size: 25px;
    background-color: rgb(168, 44, 44);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

  }  
  .text2 {
    font-family: arial;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:red;
  }
  .BI {
    color: blueviolet;
   cursor: pointer; 
  }
  élément {
    text-align: center;
  }
  
  .conteneur1{
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
}
.d1{
    width: 3840px;
    height: 720px;
    background-color: #EDEDED;
    background-image: url("photos/gateau1.jpg");
    background-size: contain;
    animation: defilement1 12s linear infinite;
}
@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}
.conteneur2{
    max-width: 960px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}
.d2{
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-color: #EDEDED;
    background-image: url("photos/gateau2.jpg");
    background-size: contain;
    animation: defilement2 12s linear infinite;
}    
@keyframes defilement2{
    0%{transform: translate(0,0);}
    100%{transform: translate(-75%,0);}
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}

   .body{
    background-image:url("LOGO PAPA.jpg");
    background-size: cover;
  }
   
   