 .button1 {
   background-color : rgb(202, 41, 41);
   color: white;
   border: none;
   height: 40px;
   width: 100PX;
   cursor: pointer;
   margin-left: 8px;
  }
  .button1:hover{
   opacity: 0.4;
 }
 .button1:active{
   opacity: 0.7;
 }

  .button2 {
   background-color : rgb(175, 103, 186);
   color: rgb(74, 97, 187);
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   border-color: rgb(0, 41, 200);
   height: 40px;
   width: 80PX;
   cursor: pointer;
   margin: 8px;
   transition: background-color  rgb(175, 103, 186) 2s;
  }
  .button2:hover{
   background-color: rgb(81, 10, 45);
   opacity: 0,4;
 }
 .button2:active{
   opacity: 0.7;
 }
  .button3 {
   background-color : rgb(30, 169, 99);
   color: white;
   border-color: rgb(14, 77, 14);
   border-radius: 20px;
   height: 40px;
   width: 80PX;
   cursor: pointer;
   margin: 8px;
   transition: box-shadow 3s;
  }
 .button3:active{
   opacity: 0.7;
   }
  .button3:hover{
   box-shadow : 05PX 05PX 05PX rgba(0, 0, 0, 0.3) ;
  }
  .text1 {
    font-family: tahoma;
    font-size: 25px;
    background-color: rgb(168, 44, 44);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

  }  
  .text2 {
    font-family: arial;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:red;
  }
  .BI {
    color: blueviolet;
   cursor: pointer; 
  }
  élément {
    text-align: center;
  }
  
  .conteneur1{
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
}
.d1{
    width: 3840px;
    height: 720px;
    background-color: #EDEDED;
    background-image: url("photos/gateau1.jpg");
    background-size: contain;
    animation: defilement1 12s linear infinite;
}
@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}
.conteneur2{
    max-width: 960px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}
.d2{
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-color: #EDEDED;
    background-image: url("photos/gateau2.jpg");
    background-size: contain;
    animation: defilement2 12s linear infinite;
}    
@keyframes defilement2{
    0%{transform: translate(0,0);}
    100%{transform: translate(-75%,0);}
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}

   .body{
    background-image:url("LOGO PAPA.jpg");
    background-size: cover;
  }
  /*
.nav-slider {
  padding: 15px;
  cursor: pointer;
}
.line:nth-child(1) {
  margin-top: 0;
}
.line {
  background-color: #eee;
  margin: 5px;
  height: 3px;
  width: 30px;
}
.nav-slider {
  cursor: pointer;
}
.title-background {
  background-color: #070707;
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.title {
  text-align: center;
  color: #d0d3d4;
  font-size: 2em;
}
.closeNav {
  animation: closeNav 1s forwards;
}
.nav-slider-section {
  background-color: rgb(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
@keyframes  closeNav{
0% {
  transform: translateX(0%);
}
100% {
  transform: translateX(-100%);
}
}
.close-nav-slider {
  border: none;
  outline: none;
  float: right;
  background-color: transparent;
  color: #F1C40F;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
}
.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-links-container li {
  text-align: center;
  padding: 10px;
}
.nav-link {
  text-decoration: none;
  color: #eee;
  font-size: 2em;
}
#menu {
  background-color: #000;
}
.menu-title {
  color: #D0D3D4;
  text-align: center;
  padding: 25px;
  font-size: 2em;
}
h2 {
  margin: 0px;
}
.tabs-container {
  width: 90%;
  margin: auto;
  padding-bottom: 25px;
}
.active-tab {
  border: 1px solid #eee;
  border-bottom: none;
}
.tabheader {
  outline: none;
  background-color: transparent;
  color: #eee;
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
}
.show-tab {
  display: block;
}
.tabSection {
  border: 1px solid #eee;
  padding: 15px;
}
p {
  color: #eee;
}
.menu-price {
  float: right;
}
.hide-tab {
  display: none;
}
#restaurant-info {
  background-color: #070707;
}
.info-container {
  display: grid;
  grid-template-columns: 1fr;
}
.address-content{
  padding: 10px;
}
.restaurant-info-title {
  color: #D3CAC8;
  text-align: center;
}
.address{
  font-size: 1em;
  text-align: center;
}
.busness-hours{
  padding: 10px;
}
.hours {
  font-size: 1em;
  text-align: center;
}
.contact-hours {
  padding: 10px;
}
.phone {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}*/
   
   